* {
  margin: 0;
  padding: 0;
}

html {
  background: #ffffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.nav-link {
  font-size: 13px;
  color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 5px 40px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-right {
  flex: 1;
}

.nav-right ul {
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: baseline;
}

.nav-left {
  flex: 1;
}

.nav-left ul {
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.user-image {
  border-radius: 50%;
  width: 32px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding: 10px;
}

.google-img {
  margin-top: 89px;
  height: 92px;
  aspect-ratio: auto 272 / 92;
  width: 272px;
  margin-bottom: 30px;
}

.search-bar {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 482px;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.footer {
  padding: 10px 0;
  background: #f2f2f2;
  display: flex;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}

.ftr-left {
  padding: 0 10px;
  display: flex;
  flex: 1;
}

.ftr-center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.ftr-right {
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
