html {
  background: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-right {
  flex: 1;
}

.nav-right ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-left {
  flex: 1;
}

.nav-left ul {
  display: flex;
  flex-direction: row;
}

.user-image {
  border-radius: 50%;
  width: 32px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding: 10px;
}

.google-img {
  height: 92px;
  aspect-ratio: auto 272 / 92;
  width: 272px;
  margin-bottom: 30px;
}

.search-bar {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 482px;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 18px;
}

.btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
